.bg-login {

}

#logo {
    background-image: url("assets/img/logo_beta.svg");
    height: 50px;
    width: 100px;
    background-repeat: no-repeat;
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

#logoOceloFooter {
    position: fixed;
    right: 5px;
    bottom: 5px;
    background-image: url("assets/img/Ocelo.svg");
    width: 10vh;
    height: 10vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#logoBig {
    background-image: url("assets/img/logo_beta.svg");
    width: 30vw;
    height: 25vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
}

#logoOcelo {
    background-image: url("assets/img/Ocelo.svg");
    width: 5vh;
    height: 5vh;
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: contain;
}

.logoOcelo {
    background-image: url("assets/img/Ocelo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 40px!important;
    height: 40px!important;
    text-align: center;
}

.copyright {
    vertical-align: middle;
}
.coleo-btn input,
.new-admin-signup input,
#loginForm input,
.new-company-form input {
    margin-bottom: 1vh;
    margin-top: 1vh;
    padding-bottom: 1vh;
    padding-top: 1vh;
    border-bottom: 1px solid #EA6037;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-control.border-input {
    border: 1px solid #CCC5B9!important;
}
.coleo-btn input[type=button],
.new-admin-signup input[type="button"],
#loginForm input[type="button"],
.new-company-form input[type="button"]{
    border: none;
    background-color: #EA6037;
    color: white;
    padding: 10px 15px;
    margin-top: 2vh;
}

#loginForm label, .new-admin-signup label {
    display: none;
}

#loginForm input, .new-admin-signup input {
    width: 300px;
}

#loginForm .submit, .new-admin-signup .submit {
    border: none;
    background-color: #EA6037;
    color: white;
    padding: 10px 15px;
    margin-top: 2vh;
}

#loginForm .at-title h3 {
    margin-top: 0;
}

#loginForm #infosInscription {
    margin-top: 30px;
}

.info-home {
    margin-top: 40px;
    min-height: 350px;
}

.addAction {
    position: absolute;
    right: 17px;
    top: 10px;
}

.addAction a {
    color: #dd6b28 !important;;
}

.new-company-form label {
    display: none;
}

.add-entreprise-title h1 {
    margin-top: 0;
}

.new-company-form label, .new-admin-signup label, .new-admin-signup .at-title {
    display: none !important;;
}

.new-company-form input, .new-admin-signup .at-input, #loginForm .at-input {
    width: 300px !important;
    margin-bottom: 10px !important;
}

.new-company-form .btn-primary, .new-admin-signup .btn-primary {
    border: none !important;
    background-color: #EA6037 !important;;
    color: white !important;;
    padding: 10px 15px !important;;
    margin-top: 2vh !important;;
    border-radius: 0;
}

.new-company-form input, .new-admin-signup input,
.new-company-form textarea, .new-admin-signup textarea {
    margin-bottom: 1vh !important;;
    margin-top: 1vh !important;;
    padding-bottom: 1vh !important;;
    padding-top: 1vh !important;;
    border-bottom: 1px solid #EA6037 !important;;
    border-top: none !important;;
    border-left: none !important;;
    border-right: none !important;;
}

.new-company-form .form-control, .new-admin-signup .form-control {
    background-color: white;
}

.loading {
    background-image: url("assets/img/wait_anim.svg");
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 50px;
}


/*
  Pour les listes de projets ou d'équipes
*/
.selected {
    background-color: #fffcf5;
}
.ul-list {
    padding-left: 0;
}
input[name='search'] {
    margin-top: 10px;
}
.no-results {
    padding: 16px 14px 14px 16px;
}
.pjt_list_name {
    padding-left: 8%;
}


@media (min-width: 992px) {
    .fixed-height {
        max-height: 250px;
        overflow-y: auto;
    }
}
.ocelo-dropdown > li > a:hover,
.ocelo-dropdown > li > a:focus {
    background-color: #FFFCF5!important;
    color: #dd6b28!important;
    opacity: 1;
    text-decoration: none;
}


.ocelo-href {
    color: #dd6b28;
}
.task-table-container .dataTables_filter label {
    color: rgba(0,0,0,0);
    width: 100%;
}
.task-table-container .dataTables_filter{

    width: 100%;
}
.task-table-container input[type=search] {
    width: 100%;
    background-color: #fffcf5;
    /*border: medium none;*/
    border-radius: 4px;
    color: #66615b;
    font-size: 14px;
    transition: background-color 0.3s ease 0s;
    padding: 7px 18px;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ccc;

}

.task-table-container input[type=search]:focus {
    background-color: #FFFFFF;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
}

.edit-task {
    margin-right: 15px;
}

.liSelected {
    background-color: #fffcf5;
}

.doneTask {}

.ongoindTask {
    background-color: #fffcf5;
}

.tableListTasks th {
}

.tableListTasks td {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.show-tasks-done:checked {
}

.editProjectDiv {
    width: 12%;
}

.btn-info{
    color: #f4d387 !important;
    background-color: transparent;
    border-color: #f4d387 !important;
}

.btn-info.btn-fill{
    color: white !important;
    background-color: #f4d387 !important;
}

.btn-info:hover {
    color: white !important;
    background-color: #f4d387 !important;
}

a:not(.btn):hover, a:not(.btn):focus {
    color:#dd6b28 !important
}
.btn-primary {
    color: #f4d387 !important;
    background-color: transparent;
    border-color: #f4d387 !important;
}
.btn-primary.btn-fill{
    color: white !important;
    background-color: #f4d387 !important;
}

.btn-primary:hover {
    color: white !important;
    background-color: #f4d387 !important;
}

.off-canvas-sidebar .divider {
    height: 1px;
    margin: 10px 0;
}

@media (max-width: 991px) {
    .hideIfSmall {
        display: none;
    }
}
