<template name="listTeams">
    <div class="header">
        <h4 class="title">Équipes</h4>
        <p style="color:#e95e37;">
            <a href="" class="selectAll">Toutes</a> /
            <a href="" class="unselectAll">Aucune</a>
        </p>
        <div class="addAction"><a href="/suivi/teams">
            <h5><i class="ti-plus"></i></h5>
        </a></div>
        <p class="category search-wrap"><input type="text" name="search" class=" searchTeam form-control" width="250px"
                                               placeholder="Rechercher (appuyer sur entrée)"></p>
    </div>

    <div class="content  fixed-height table-full-width" style="margin-top: 15px">

        <ul class="list-unstyled team-members">
            {{#if searching}}
                {{> loading}}
            {{else}}
                {{#each teams}}
                        <li id="list_team_item_{{_id}}" class="{{selected}} hoverable" style="cursor:pointer">
                            <div class="row padding-left-row">

                                <div class="col-xs-1 text-right">
                                    <btn class="btn btn-sm btn-info
                                    btn-icon {{btnSelected}}">
                                        <i class="fa"></i>
                                    </btn>
                                </div>
                                <div class="col-xs-7">
                                    {{name}}
                                </div>
                                <div class="col-xs-3 avatar-parent">
                                    <div class="avatar">
                                        <img src="{{full}}/assets/img/faces/face-0.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                            </div>
                        </li>
                {{else}}
                    <p class="no-results">Aucun résultat.</p>
                {{/each}}
                {{#if query}}
                    <li>
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="" class="cancelSearch">Annuler la recherche</a>
                            </div>
                        </div>
                    </li>
                {{/if}}
            {{/if}}
        </ul>
    </div>
</template>