<template name="listTeamsSimplified">

    <div class="header">
        <h4 class="title">Équipes</h4>
    </div>
    <div class="content fixed-height">
        <ul class="list-unstyled team-members">
            {{#if searching}}
                {{> loading}}
            {{else}}
                {{#each teams}}
                    <li id="list_team_item_{{_id}}" class="{{selected}} {{liSelected}}" >
                        {{name}}
                    </li>
                {{else}}
                    <p class="no-results">Aucun résultat.</p>
                {{/each}}
            {{/if}}
        </ul>
    </div>

</template>