<template name="deleteClient">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Supprimer le client</h4>
                </div>

                <div class="modal-body">
                    <br/>
                    <p>Voulez-vous supprimer ce client ?</p>
                    <br/>
                    <p>Il ne pourra plus visualiser vos projets depuis Coleo.</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-fill" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-info btn-fill yesBtn">Oui</button>
                </div>

            </div>
        </div>
    </div>
</template>