<template name="deleteProject">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Supprimer le projet</h4>
                </div>

                <div class="modal-body">
                    <br/>
                    <p>Attention, toutes les tâches du projet seront supprimées !</p>
                    <br/>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-fill" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-info btn-fill yesBtn">Continuer</button>
                </div>

            </div>
        </div>
    </div>
</template>