<template name="editProject">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="header">
                    <h4 class="title">{{project.name}}</h4>
                </div>
                <div class="content">
                    {{> quickForm collection='Projects' id="editProjectForm"
                            doc=project type="update"
                            buttonContent="Sauvegarder" }}
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="/suivi/projects"><i class="ti-arrow-left"></i>  Retour</a>
        </div>
    </div>
</template>