<template name="listProjects">
    <div class="header">
        <h4 class="title">Projets</h4>
        <p class="category search-wrap"><input type="text" name="search" class="form-control" width="250px"
                                               placeholder="Rechercher"></p>
    </div>
    <div class="content">
        <ul class="list-unstyled team-members">
            {{#if searching}}
                {{> loading}}
            {{else}}
                {{#each projects}}
                    <li id="list_pjts_item_{{_id}}" class="{{selected}}" >
                        <div class="row">
                            <div class="col-xs-9 pjt_list_name">
                                {{name}}
                                <br />
                                <span class="text-muted"><small>{{desc}}</small></span>
                            </div>
                            <div class="col-xs-3 text-right">
                                <btn class="btn btn-sm btn-success
                                    btn-icon {{btnSelected}}">
                                    <i class="fa fa-check"></i>
                                </btn>
                            </div>
                        </div>
                    </li>
                {{else}}
                    <p class="no-results">Aucun résultat.</p>
                {{/each}}
            {{/if}}
        </ul>
    </div>
</template>