<template name="listProjectsSimplified">

    <div class="header">
        <h4 class="title">Projets</h4>

        <p class="category search-wrap"><input type="text" name="search" class="form-control" width="250px"
                                               placeholder="Rechercher (appuyer sur entrée)"></p>

    </div>
    <div class="content fixed-height">
        <ul class="list-unstyled team-members projects-item">
            {{#if searching}}
                {{> loading}}
            {{else}}
                {{#each projects}}
                    <li id="list_pjts_item_{{_id}}" class="{{selected}} {{liSelected}}" style="cursor:pointer">
                        <span>
                            {{#if hide}}<i class="ti-check"></i>{{/if}}
                            {{name}}
                        </span>
                    </li>
                {{else}}
                    <p class="no-results">Aucun résultat.</p>
                {{/each}}
            {{/if}}
        </ul>
    </div>

</template>