<template name="setProjectDone">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Changer le statut</h4>
                </div>

                <div class="modal-body">
                    <br/>
                    <p>Voulez-vous marquer ce projet comme étant terminé ?</p>
                    <br/>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-fill" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-info btn-fill yesBtn">Oui</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="setProjectNotDone">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Changer le statut</h4>
                </div>

                <div class="modal-body">
                    <br/>
                    <p>Rendre à noveau ce projet actif ?</p>
                    <br/>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-fill" data-dismiss="modal">Non</button>
                    <button type="button" class="btn btn-info btn-fill yesBtn">Oui</button>
                </div>

            </div>
        </div>
    </div>
</template>