<template name="suiviLayout">

    <div class="wrapper">
        {{#if currentUser}}
            {{> notifications}}
        {{/if}}
        <div class="sidebar" data-background-color="white" data-active-color="warning">

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/suivi" class="simple-text">
                        Coleo (beta)
                    </a>
                </div>

                <ul class="nav">
                    <li class="active">
                        <a href="/suivi">
                            <i class="ti-home"></i>
                            <p>Suivi</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="ti-stats-up"></i>
                            <p>Statistiques</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="ti-settings"></i>
                            <p>Gestion</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand" href="/suivi">Suivi</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="">
                                    <i class="ti-user"></i>
                                    <p>{{currentColeoUser.firstName}} {{currentColeoUser.lastName}} ({{currentCompany.name}})</p>
                                </a>
                            </li>
                            <li>
                                <a href="/logout">
                                    <p>Déconnexion</p>
                                    <i class="ti-power-off"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>


            <div class="content">
                <div class="container-fluid">
                    {{> Template.dynamic template=main}}
                </div>
            </div>


            <footer class="footer">
                <div class="container-fluid">
                    <div class="copyright pull-right">
                        &copy;
                        2016
                        , avec <i class="fa fa-heart heart"></i> par <a href="http://www.ocelo.com">Ocelo</a>
                    </div>
                </div>
            </footer>

        </div>
    </div>

</template>