<template name="removeUserModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Supprimer l'utilisateur</h4>
                </div>

                <div class="modal-body">
                    <p>En supprimant l'utilisateur, toutes ses tâches seront supprimées!</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-fill" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-info btn-fill yesBtn">Continuer</button>
                </div>

            </div>
        </div>
    </div>
</template>