<template name="editTask">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Modifier une tâche</h4>
                </div>

                <div class="modal-body">
                    {{#autoForm schema=temporaryTaskSchema id="EditTaskForm" doc=this
                                type="update" meteormethod="tasks.update" class="add-task-form" }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="taskProjectName"
                                           class="control-label">Project</label>

                                    <input type="text" name="projectName" value="{{projectName}}"
                                           id="taskProjectName" disabled="true"
                                           class="form-control" >
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="taskTeamName"
                                           class="control-label">Équipe</label>

                                    <input type="text" name="projectName" value="{{teamName}}"
                                           id="taskTeamName" disabled="true"
                                           class="form-control" >
                                </div>
                            </div>

                            <div class="col-md-8">
                                {{> afQuickField name='name'}}
                            </div>

                            <div class="col-md-4">
                                {{> afQuickField name='deadline'}}
                            </div>

                            <div class="col-md-12">
                                {{> afQuickField name='desc' rows=3}}
                            </div>

                            <div class="col-md-4">
                                {{> afQuickField name='time' label='Temps passé (en heure)'}}
                            </div>

                            <div class="col-md-4" id="editTaskDone">
                                {{> afQuickField name='done'}}
                            </div>
                        </div>

                    {{/autoForm}}
                </div>

                <div class="modal-footer">
                    <div class="text-modal-footer">
                        Créé
                        {{#if creatorName}}par {{creatorName}}{{/if}}
                        {{#if creationDate}}le {{creationDate}}{{/if}}
                    </div>
                    <button type="button" class="btn btn-default  " data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-info   btn-add-save">Sauvegarder</button>
                </div>

            </div>
        </div>
    </div>
</template>