<template name="removeTask">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Supprimer une tâche</h4>
                </div>

                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer la tâche {{this.name}}</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default  " data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-info   btn-add-suppr">Supprimer</button>
                </div>

            </div>
        </div>
    </div>
</template>